*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --accent-color: orangered;
  --background-color: white;
  --text-color: black;
  --button-text-color: var(--background-color);
  --transition-delay: 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 4.5rem; */
  /* min-height: 100vh; */
  height: 100vh;
  overflow: hidden;

  transition: var(--transition-delay);
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --accent-color: #d0d066;
  --background-color: #333;
  --text-color: white;
}

/* .selectedElement {
} */

/* header,
main,
footer {
  max-width: 43.75rem;
  margin: 0 auto;
  width: 100%;
} */

.title {
  margin-bottom: 0.5rem;
}

.theme-toggle-button {
  background-color: var(--accent-color);
  color: var(--button-text-color);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
  outline: none;
  transition: var(--transition-delay);
  transform: scale(1);

  & .icon {
    margin-right: 0.5em;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.sun-moon-container {
  --rotation: 0;

  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 200vmin;
  /* 
   vmin selects whatever the minimum size is in view,
   either the width or the height, whatever is shorter,
   and it's going to be 200% of that width or height,
   and we use this to make sure the transition looks
   good and actually circular in all screen sizes
  */
  transform: rotate(calc(var(--rotation) * 1deg));
  transition: transform var(--transition-delay);
}

.sun,
.moon {
  position: absolute;
  width: 2rem;
  height: 2rem;
  transition: opacity, fill, var(--transition-delay);
  fill: var(--accent-color);
}

.sun {
  top: 5%;
  opacity: 1;
}

.dark .sun {
  opacity: 0;
}

.moon {
  bottom: 5%;
  opacity: 0;
  transform: rotate(180deg);
}

.dark .moon {
  opacity: 1;
}
